## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tezu,IN,27.9167,96.1667,75.70,95,99,3.27,overcast clouds
1,1,Tasiilaq,GL,65.6145,-37.6368,48.36,60,13,4.23,few clouds
2,2,Cidreira,BR,-30.1811,-50.2056,60.44,88,28,9.33,scattered clouds
3,3,Thompson,CA,55.7435,-97.8558,57.36,94,100,6.91,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,72.14,77,83,21.72,light rain

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tezu,IN,27.9167,96.1667,75.70,95,99,3.27,overcast clouds
2,2,Cidreira,BR,-30.1811,-50.2056,60.44,88,28,9.33,scattered clouds
4,4,Rikitea,PF,-23.1203,-134.9692,72.14,77,83,21.72,light rain
5,5,Goderich,CA,43.7501,-81.7165,70.92,68,10,9.22,clear sky
6,6,Cap Malheureux,MU,-19.9842,57.6142,66.47,76,0,3.00,clear sky
10,10,Norman Wells,CA,65.2820,-126.8329,75.24,43,75,11.50,broken clouds
11,11,Korla,CN,41.7597,86.1469,73.90,47,1,0.11,clear sky
12,12,Dicabisagan,PH,17.0818,122.4157,76.78,92,100,0.87,moderate rain
13,13,Faanui,PF,-16.4833,-151.7500,78.48,65,40,24.54,scattered clouds
15,15,The Valley,AI,18.2170,-63.0578,87.66,74,20,13.80,few clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                441
City                   441
Country                441
Lat                    441
Lng                    441
Max Temp               441
Humidity               441
Cloudiness             441
Wind Speed             441
Current Description    441
dtype: int64

In [10]:
preferred_cities_df.isna().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tezu,IN,27.9167,96.1667,75.70,95,99,3.27,overcast clouds
2,2,Cidreira,BR,-30.1811,-50.2056,60.44,88,28,9.33,scattered clouds
4,4,Rikitea,PF,-23.1203,-134.9692,72.14,77,83,21.72,light rain
5,5,Goderich,CA,43.7501,-81.7165,70.92,68,10,9.22,clear sky
6,6,Cap Malheureux,MU,-19.9842,57.6142,66.47,76,0,3.00,clear sky
10,10,Norman Wells,CA,65.2820,-126.8329,75.24,43,75,11.50,broken clouds
11,11,Korla,CN,41.7597,86.1469,73.90,47,1,0.11,clear sky
12,12,Dicabisagan,PH,17.0818,122.4157,76.78,92,100,0.87,moderate rain
13,13,Faanui,PF,-16.4833,-151.7500,78.48,65,40,24.54,scattered clouds
15,15,The Valley,AI,18.2170,-63.0578,87.66,74,20,13.80,few clouds

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tezu,IN,75.70,overcast clouds,27.9167,96.1667,
2,Cidreira,BR,60.44,scattered clouds,-30.1811,-50.2056,
4,Rikitea,PF,72.14,light rain,-23.1203,-134.9692,
5,Goderich,CA,70.92,clear sky,43.7501,-81.7165,
6,Cap Malheureux,MU,66.47,clear sky,-19.9842,57.6142,
10,Norman Wells,CA,75.24,broken clouds,65.2820,-126.8329,
11,Korla,CN,73.90,clear sky,41.7597,86.1469,
12,Dicabisagan,PH,76.78,moderate rain,17.0818,122.4157,
13,Faanui,PF,78.48,scattered clouds,-16.4833,-151.7500,
15,The Valley,AI,87.66,few clouds,18.2170,-63.0578,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tezu,IN,75.70,overcast clouds,27.9167,96.1667,Circuit House
2,Cidreira,BR,60.44,scattered clouds,-30.1811,-50.2056,Hotel Castelo
4,Rikitea,PF,72.14,light rain,-23.1203,-134.9692,People ThankYou
5,Goderich,CA,70.92,clear sky,43.7501,-81.7165,Harmony Inn
6,Cap Malheureux,MU,66.47,clear sky,-19.9842,57.6142,Pereybere Hotel & Spa
10,Norman Wells,CA,75.24,broken clouds,65.2820,-126.8329,Heritage Hotel
11,Korla,CN,73.90,clear sky,41.7597,86.1469,Gulisitan Hotel
12,Dicabisagan,PH,76.78,moderate rain,17.0818,122.4157,Nancy Montanes Bernardo
13,Faanui,PF,78.48,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
15,The Valley,AI,87.66,few clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [22]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Weather</dt><dd>{Current Description}
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations_df = hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))